@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f1f47;
    overflow: hidden;
    /* background: linear-gradient(to right, rgb(77, 110, 227), rgb(70, 189, 161)); */
}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background:rgba(255, 255, 255, .15);
    border-radius:20px;
    border: 1px solid rgba(255, 255, 255, .18);
    box-shadow: 0 8 32px rgba(255, 255, 255, .37);
    padding: 40px;

}

.form-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.8s ease-in-out;

}

.wrapper.active .form-wrapper.sign-in{
    transform: scale(0) translate(300px, -500px);
}

.wrapper .form-wrapper.sign-up{
    position: absolute;
    top: 0;
    transform: scale(0) translate(-200px, 500px);

}

.wrapper.active .form-wrapper.sign-up{
    transform: scale(1) translate(0, 0);
}

h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.input-group input:focus~label, 
.input-group input:valid~label {
    top: -5px;
}

.remember {
    margin: -5px 0px 15px 5px;
}

.remember label {
    color: #fff;
    font-size: 14px;

}

.remember label input {
    accent-color: #2793e6;
}

button {
position: relative;
width: 100%;
height: 40px;
background: #2793e6;
font-size: 16px;
color: #fff;
cursor: pointer;
border-radius: 30px;
border: none;
outline: none;
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0px;
}

.signUp-link p {
    color: #fff;
}

.signUp-link p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.signUp-link p a:hover {
    text-decoration: underline;
}

.backHome-link {
    font-size: 16px;
    text-align: center;
}

.backHome-link a:hover {
    text-decoration: underline;
}

.backHome-link a {
    color: #f2ecec;
    text-decoration: none;
    font-weight: 600;
}

.backHome-link .icon {
    position: relative;
    color: #fff;
    top: 3px;
    font-size: 1.2em;
    line-height: 57px;
}
.social-platform {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 15px 6px 0;
    transition: .3s;
}

.social-icons a:hover {
    background: #fff;
}

.social-icons a i {
    color: #fff;
    font-size: 14px;
    transition: .3s;
}

.social-icons a:hover i {
    color: rgba(0, 0, 0, .3);
}

.blob {
    position: absolute;
    width: 500px;
    height: 550px;
    background: linear-gradient(180deg, rgba(47, 184, 255, .42)31.77%, #5c9df1
    100%);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73% ;
    transform: translate(-100px,-50px) rotate(-90deg);
    transition: 1s cubic-bezier(.07, 0.8, .16, 1);
    animation: animateBlob 20s infinite alternate;
    
}

.blob:hover {
    width: 520px;
    height: 570px;
    filter: blur(30px);
    box-shadow: 
    inset 0 0 0 5px rgba(255, 255, 255, .6),
    inset 100px 100px 0 0 #fa709a, 
    inset 200px 200px 0 0 #784ba8,
    inset 300px 300px 0 0 #2b86c5;
}

@keyframes animateBlob {
    100%{
        transform: translate(300px, 50px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}
