/* Links */
a,
a:focus,
a:hover {
color: #007bff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
color: #333;
text-shadow: none;
background-color: #e3f2fd;
border: .05rem solid #e3f2fd;
}

/*

Base structure
*/
html,
body {
height: 100%;
background-color: #e3f2fd;
}

body {
display: -ms-flexbox;
display: flex;
color: #333;
text-shadow: 0 .05rem .1rem rgba(255, 255, 255, .5);
box-shadow: inset 0 0 5rem rgba(255, 255, 255, .5);
}

.cover-container {
max-width: 42em;
}

/*

Header
*/
.masthead {
margin-bottom: 2rem;
}
.masthead-brand {
margin-bottom: 0;
}

.nav-masthead .nav-link {
padding: .25rem 0;
font-weight: 700;
color: rgba(0, 0, 0, .5);
background-color: transparent;
border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
margin-left: 1rem;
}

header {
  margin-top: 20px;
}

.masthead-brand img {
  margin-top: 0;
}

.navbar .btn-secondary {
  padding: 10px 25px;
}


.btn-sign-up {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-sign-up:hover {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.btn-login {
  display: inline-block;
  padding: 5px 12px;
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.btn-login:hover {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}


.nav-masthead .active {
color: #333;
border-bottom-color: #333;
}

@media (min-width: 48em) {
.masthead-brand {
float: left;
}
.nav-masthead {
float: right;
}
}

/*

Cover
*/
.cover {
padding: 0 1.5rem;
}
.cover .btn-lg {
padding: .75rem 1.25rem;
font-weight: 700;
}
/*

Footer
*/
.mastfoot {
color: rgba(0, 0, 0, .5);
}