/* Links */
a,
a:focus,
a:hover {
color: #007bff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
color: #333;
text-shadow: none;
background-color: #e3f2fd;
border: .05rem solid #e3f2fd;
}

/*

Base structure
*/
html,
body {
height: 100%;
background-color: #e3f2fd;
}

body {
display: -ms-flexbox;
display: flex;
color: #333;
text-shadow: 0 .05rem .1rem rgba(255, 255, 255, .5);
box-shadow: inset 0 0 5rem rgba(255, 255, 255, .5);
}

.cover-container {
max-width: 42em;
}

/*

Header
*/
.masthead {
margin-bottom: 2rem;
}
.masthead-brand {
margin-bottom: 0;
}

.nav-masthead .nav-link {
padding: .25rem 0;
font-weight: 700;
color: rgba(0, 0, 0, .5);
background-color: transparent;
border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
margin-left: 1rem;
}

header {
  margin-top: 20px;
}

.masthead-brand img {
  margin-top: 0;
}

.navbar .btn-secondary {
  padding: 10px 25px;
}


.btn-sign-up {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-sign-up:hover {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}


.btn-backtohome {
  display: inline-block;
  padding: 5px 12px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.btn-backtohome:hover {
  background-color: #fff;
  color: #007bff;
  text-decoration: none;
}


.btn-login {
  display: inline-block;
  padding: 5px 12px;
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.btn-login:hover {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}




.nav-masthead .active {
color: #333;
border-bottom-color: #333;
}

@media (min-width: 48em) {
.masthead-brand {
float: left;
}
.nav-masthead {
float: right;
}
}

/*

Cover
*/
.cover {
padding: 0 1.5rem;
}
.cover .btn-lg {
padding: .75rem 1.25rem;
font-weight: 700;
}
/*

Footer
*/
.mastfoot {
color: rgba(0, 0, 0, .5);
}
.carousel {
  border-radius: 55px 55px 55px 55px;
  overflow: hidden;
}

.navbar {
  border: none;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
  background-color: #000;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #d3531a;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

.btn-login {
  display: inline-block;
  padding: 5px 12px;
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.btn-login:hover {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

img{
  height: 40px;
  width: 40px;
  margin-bottom: 8px;
}

.cover-container {
  max-width: 60em;
}